﻿@model TicketsApplication.Models.UserVM
@{
    Layout = null;
}
<!doctype html>
<html>

<head>
    <title>Tickets Resailing</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <input type="text" name="user" class="user" value="@ViewBag.Message" />
            @Html.ActionLink("Logout", "Logout", "Account")
            @Html.RouteLink("My Tickets", new { Controller = "Ticket", Action = "UserTickets", nick = User.Identity.Name })
</header>

<h3>User Information:</h3>
            <p class="description">@Model.FirstName, @Model.LastName</p>
            <p class="description">@Model.Nick</p>
            <p class="description">@Model.PhoneNumber</p>
            <p class="description">@Model.Address</p>

</body>
</html>
