﻿@model List<TicketsApplication.Models.TicketVM>
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Tickets Resailing</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <input type="text" name="user" class="user" value="@ViewBag.Message" />
        @Html.ActionLink("LogIn", "Login", "Account")
        @Html.ActionLink("Register", "Register", "Account")
    </header>
    <h2>Tickets:</h2>

    @using (Html.BeginForm("Buy", "Ticket", FormMethod.Post))
    {
        var mbox = (List<TicketsApplication.Models.TicketVM>)Model;

        for (int i = 0; i < mbox.Count; i++)
        {
            <div class="event">
                <p>Cost: @Model[i].Price, Seller: @Model[i].Seller</p>
                @Html.CheckBox("[" + @i + "].ForSale", Model[i].ForSale)
                @Html.Hidden("[" + @i + "].Price", @Model[i].Price)
                @Html.Hidden("[" + @i + "].SellerID", @Model[i].SellerID)
                @Html.Hidden("[" + @i + "].EventID", @Model[i].EventID)
                @Html.Hidden("[" + @i + "].Seller", @Model[i].Seller)
                @Html.Hidden("[" + @i + "].Price", @Model[i].Price)
                @Html.Hidden("[" + @i + "].Availability", @Model[i].Availability)
            </div>
        }

        <div>
            <input type="submit" value="Buy" />
        </div>
    }

</body>
</html>