﻿@model TicketsApplication.Models.TicketCountVM
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Tickets Resailing</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <input type="text" name="user" class="user" value="@ViewBag.Message" />
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Logout", "Logout", "Account")
        }
        else
        {
            @Html.ActionLink("LogIn", "Login", "Account")
            @Html.ActionLink("Register", "Register", "Account")
        }
    </header>

    <h3>@Model.Event.Name</h3>
    <p>@Model.Event.City, @Model.Event.Venue</p>
    <p>@Model.Event.Date.ToString("dd.MM")</p>
    <p>@Model.Event.Description</p>

    <h2>Ticket Information:</h2>

    @foreach (var i in Model.PriceAndCount)
    {
        <div class="event">
            <p>Cost:  @i.Key</p>
            <p>Count:  @i.Value</p>
            @using (Html.BeginForm("TicketsForOrder", "Ticket", FormMethod.Post))
            {

                @Html.Hidden("price", @i.Key)
                @Html.Hidden("eventId", Model.Event.ID)

                <input type="submit" value="Order" />
            }
            <hr />
        </div>

    }

</body>
</html>


