﻿@model List<TicketsApplication.Models.TicketVM>
@{
    Layout = null;
}
<!doctype html>
<html>

<head>
    <title>Tickets Resailing</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <input type="text" name="user" class="user" value="@ViewBag.Message" />
            @Html.ActionLink("Logout", "Logout", "Account")
            @Html.RouteLink("My Tickets", new { Controller = "Ticket", Action = "UserTickets", nick = User.Identity.Name })

    </header>

    @foreach (var i in Model)
    {
        <div class="event">
            <p>@i.Price</p>
            <div class="blackLink">@Html.RouteLink(@i.Seller, new { Controller = "User", Action = "UserInformation", nick = @i.Seller })</div>
            <p>@i.Event</p>
        </div>

    }

</body>
</html>
