﻿body {
    margin: 0;
    padding:0;
    background: #F8F8FF;
}

header{
    width: 96%;
    height: 20%;
    padding: 2%;
    background-image: linear-gradient(to top, #B22222, #FFD700, #B22222);
}
footer{
   
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to top,  #B22222, #FFD700, #B22222);
    margin:0 auto;
    position: relative;
    bottom:0;
}
blackLink{
    color: #000;
    
}

.footerDiv{
    float: left;
    width: 20%;
    margin: 2%;
}
.event{
    float: left;
    width: 30%;
    height: auto;
    padding: 1.5%;
}
a{
    text-decoration: none;
    color: #fff;
    padding: 2%;
}
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

input.user{
    background: none;
    color: #fff;
    border: none;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
}

.topic {
    font-size:large;
    font-style: italic;
    color: darkgray;
    text-shadow: #0094ff;
}
.data{
    font-style: oblique;
}
img{
    width: 95%;
    height: auto;
    padding: 2%;
    
}
.description{
    font-size: 0.8em;
    font-style: italic;
}
textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}
