﻿@model List<TicketsApplication.Models.EventVM>
@{
    Layout = null;
}
<!doctype html>
<html>

<head>
    <title>Tickets Resailing</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
<header>
    <input type="text" name="user" class="user" value="@ViewBag.Message" />
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Logout", "Logout", "Account")
        @Html.RouteLink("My Tickets", new { Controller = "Ticket", Action = "UserTickets", nick= User.Identity.Name })
    }
    else
    {
        @Html.ActionLink("Login", "Login", "Account")
        @Html.ActionLink("Register", "Register", "Account")
    }
 </header>
    
    @foreach (var i in Model)
    {
        <div class="event">
            <h3>@Html.RouteLink(@i.Name, new { Controller = "Ticket", Action = "Tickets", id = i.ID }, new { @class = "topic" })</h3>
            <p class="data">@i.Date.ToString("dd.MM")</p>
            <p class="description">@i.City, @i.Venue</p>
            <img src="@i.Banner" />
        </div>

    }
        
</body>
</html>
